@import 'src/shared/styles/variables.scss';
@import 'src/shared/styles/mixin.scss';

.main {
  margin: 0 auto;
  width: 100%;
  height: 100%;

  @include media(mobile-only) {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;

    .form {
      padding-top: 20px;
    }
  }

  @include media(tablet) {
    display: flex;
    flex-direction: column-reverse;
    .form {
      padding-top: 50px;
      display: flex;

      align-items: center;
      justify-content: center;
      margin-bottom: 60px;
    }
  }

  @include media(desktop) {
    width: $desktop;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 20px;

    .form {
      padding-left: 150px;
    }
  }
}

.footer {
  display: none;

  @include media(tablet) {
    display: block;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  @include media(desktop) {
    justify-content: flex-end;
  }
}


.footer__elem{
  margin-left: auto;
}
