@import 'src/shared/styles/variables.scss';

.main {
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
}

.right__side {
  display: flex;
  flex-direction: column;
}

.form {
  padding-top: 50px;
  padding-right: 123px;
  margin-bottom: 40px;
}
