@import 'src/shared/styles/variables.scss';
@import 'src/shared/styles/mixin.scss';

.main {
  // background-color: #fafafa;
  width: $desktop;
  margin: 0 auto;
  height: 100%;

  @include media(mobile) {
    display: flex;
    flex-direction: column-reverse;

    .form {
      padding-top: 20px;
      margin-bottom: 20px;
    }
  }

  @include media(tablet) {
    .form {
      padding-top: 50px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @include media(desktop) {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 20px;

    .form {
      padding-left: 150px;
      margin-bottom: 40px;
    }
  }
}

.footer {
  display: none;

  @include media(tablet) {
    display: block;
    display: flex;
    justify-content: center;
  }

  @include media(desktop) {
    justify-content: flex-end;
  }
}
