@import 'src/shared/styles/variables.scss';
@import 'src/shared/styles/mixin.scss';

.form {
  background-color: $primary-bg-color;

  padding-top: 20px;
  margin-bottom: 60px;

  @include media(mobile) {
    width: 290px;
  }

  @include media(tablet) {
    width: 394px;
    padding: 40px 32px;
    margin-bottom: 20px;

    border-radius: 6px;
    box-shadow: 4px 6px 15px $secondary-text-color;
  }

  @include media(desktop) {
    padding: 40px;
    margin-bottom: 40px;
  }
}

.hero__title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: $primary-text-color;

  margin-bottom: 32px;

  @include media(tablet) {
    max-width: 360px;
    font-size: 30px;
    line-height: 37px;
  }
}

.title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.04em;

  color: $secondary-text-color;
  margin-bottom: 35px;
}

.text {
  max-width: 230px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;

  color: $secondary-text-color;
  margin-top: 20px;
  margin-bottom: 20px;
}

.label__text {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.04em;

  color: $tertiary-text-color;
  margin-bottom: 8px;
}

.label__input {
  position: relative;
  display: block;
}

.error {
  color: $error-text;
}

.text__req {
  position: absolute;
  z-index: 5;
  top: 70px;
  left: 5px;

  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: $error-text;
}

.input {
  display: block;
  width: 100%;
  border: none;
  outline: none;

  color: $secondary-text-color;

  background-color: $tertiary-bg-color;
  box-shadow: inset 0px 1px 5px #9f9f9f26;
  border: solid 1px transparent;

  padding: 12px 10px;
  margin-bottom: 24px;

  &:active,
  &:focus {
    border: solid 1px $secondary-text-color;
  }
}

.boxButton {
  display: flex;
  justify-content: space-between;
}
