@import 'src/shared/styles/variables.scss';

.navigation {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-right: 40px;
}

.link {
  text-decoration: none;
  color: $secondary-text-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(1.1);
    color: $primary-text-color;
  }
}

.verticalBar {
  color: $secondary-text-color;
}

.box {
  display: flex;
  gap: 16px;
  align-items: center;
}

.text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: $tertiary-text-color;
  width: 55px;
}

.boxbalance {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 440px;
}

.balance {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
}

.subcontainer {
  margin-left: 45px;
  display: flex;
  justify-content: space-between;
}

.btnlogout {
  border: none;
  outline: none;
  background-color: transparent;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.1);
    stroke: $secondary-text-color;
  }
}
