@import 'src/shared/styles/variables.scss';

.navigation {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-right: 40px;
}
.link {
  text-decoration: none;
  color: $secondary-text-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
}
.verticalBar {
  color: $secondary-text-color;
}
.box {
  display: flex;
  gap: 16px;
  align-items: center;
}

.text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: $tertiary-text-color;
  width: 55px;
}
.boxbalance {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 440px;
}

.balance {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
}
.subcontainer {
  display: flex;
  justify-content: space-between;
}
.btnlogout {
  border: none;
  outline: none;
  background-color: transparent;
}
