@import 'src/shared/styles/variables.scss';
@import 'src/shared/styles/mixin.scss';

.box {
  display: flex;
  overflow: hidden;

  @include media(mobile-only) {
    justify-content: center;
    padding: 20px 0;
  }
  @media screen and (max-width: 319px) {
    width: 100%;
  }
  @include media(tablet) {
    justify-content: space-between;
    align-items: baseline;
    padding: 22px 97px;

    background-color: $secondary-bg-color;
  }
  @include media(desktop) {
    padding: 140px 0 0 0;
    width: 229px;
    background-color: $secondary-bg-color;
  }
}

.weekTabs {
  display: flex;

  @include media(mobile-only) {
    align-items: center;
    margin: 0 6px;
    width: 269px;
  }

  @include media(tablet) {
    margin: 0;
    width: 376px;
  }

  @include media(desktop) {
    display: block;
    padding-left: 48px;
  }
}

.weekTabs__item:not(:last-child) {
  @include media(mobile-only) {
    margin-right: 4px;
  }
  @include media(tablet) {
    margin-right: 16px;
  }
  @include media(desktop) {
    margin-bottom: 8px;
    margin-right: 0;
  }
}

.weekTabs__input {
  opacity: 0;
  position: fixed;
  width: 0;
  @include media(mobile-only) {
    &:checked + .weekTabs__label {
      background-color: $secondary-bg-color;
    }
  }
  @include media(tablet) {
    &:checked + .weekTabs__label {
      background-color: $primary-bg-color;
    }
  }
}

.weekTabs__label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;

  text-align: center;
  transform: scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.1);
  }

  &:hover span,
  &:focus span {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @include media(mobile-only) {
    width: 35px;
    height: 24px;
    padding: 0 6px;
    background-color: rgba(255, 187, 51, 0.5);
  }
  @media screen and (max-width: 319px) {
    width: 32px;
    height: 24px;
  }

  @include media(tablet) {
    width: 40px;
    height: 26px;
    padding: 0 7px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  @include media(desktop) {
    width: 181px;
    height: 42px;
    border-radius: 6px 0px 0px 6px;

    background-color: rgba(255, 255, 255, 0.5);
  }
}

.weekTabs__name {
  font-size: 12px;
  line-height: 1.25;
  font-weight: 700;
  letter-spacing: 0.04em;

  color: $primary-text-color;

  @include media(tablet) {
    width: 26px;
  }
  @include media(desktop) {
    padding-left: 20px;

    font-size: 14px;
    line-height: 1.21;
  }
}
