.box{
  height: 100vh;
  width: 229px;
  background-color: #FFBC33;


}

.weekTabs{
  padding-left: 48px;
  padding-top: 140px;

}

.weekTabs__item{
  /* display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 181px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.5);


  border-radius: 6px 0px 0px 6px; */
}

.weekTabs__item:hover,
.weekTabs__item:focus{
  cursor: pointer;

}

.weekTabs__item:not(:last-child){
  margin-bottom: 8px;

}

.weekTabs__label{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 181px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.5);


  border-radius: 6px 0px 0px 6px;
}

.weekTabs__label span{
  padding-left: 20px;
  font-family: 'Montserrat';
  /* opacity: 1; */
  color: #000000;
  font-weight: 700;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.04em;

}

.weekTabs__labelActive{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 181px;
  height: 42px;

  border-radius: 6px 0px 0px 6px;
  background-color: rgb(255, 255, 255);
}

.weekTabs__label:hover,
.weekTabs__label:focus{
  cursor: pointer;

}

.weekTabs__input:checked + .weekTabs__label{
  opacity: 1;
}

.weekTabs__input{
   opacity: 0;
   position: fixed;
   width: 0;
}

.weekTabs__input:checked +.weekTabs__label{
  background-color: #fff;
}
.weekTabs__name{
  padding-left: 20px;
  font-family: 'Montserrat';
  /* opacity: 1; */
  color: #000000;
  font-weight: 700;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.04em;
}


/* !!!!! */
/* .box{
  height: 100vh;
  width: 229px;
  background-color: #FFBC33;


}

.weekTabs{
  padding-left: 48px;
  padding-top: 140px;

} */

/* .weekTabs__item{

} */

/* .weekTabs__item:hover,
.weekTabs__item:focus{
  cursor: pointer;

} */

/* .weekTabs__item:not(:last-child){
  margin-bottom: 8px;

} */

/* .weekTabs__label{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 181px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.5);


  border-radius: 6px 0px 0px 6px;

}

.weekTabs__labelActive{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 181px;
  height: 42px;

  border-radius: 6px 0px 0px 6px;
  background-color: rgb(255, 255, 255);
}

.weekTabs__label:hover,
.weekTabs__label:focus{
  cursor: pointer;

} */


/* .weekTabs .weekTabs__input:checked + .weekTabs__item{
  opacity: 1;
} */

/* .weekTabs__input{
  opacity: 0;
   position: fixed;
  width: 0;
}

.weekTabs__name{
  padding-left: 20px;
  font-family: 'Montserrat';
  color: #000000;
  font-weight: 700;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.04em;
} */
