@import 'src/shared/styles/variables.scss';
@import 'src/shared/styles/mixin.scss';

.weekTabInfo__week {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0.04em;

  color: $primary-text-color;

  @include media(mobile-only) {
    margin-bottom: 20px;
  }

  @include media(tablet) {
    min-width: 171px;
  }

  @include media(desktop) {
    margin-bottom: 32px;

    font-size: 18px;
    line-height: 1.22;
  }
}
