@import 'src/shared/styles/variables.scss';
@import 'src/shared/styles/mixin.scss';

.cards_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 32px;
  padding-top: 40px;
  width: 1248px;

  @include media(mobile-only) {
    width: 280px;
  }

  @include media(tablet-only) {
    width: 704px;
  }
}
.card_item {
  flex-basis: 280px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include media(tablet) {
    flex-basis: 336px;
  }

  @include media(desktop) {
    flex-basis: 288px;
  }

  &:hover,
  &:focus{
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 6px 6px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }
}
