
  .cards_list {
    display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-inline-end: 0;
  width: 280px;
  margin-top: -20px;
  @media screen and (min-width: 768px) {
    width: 600px;
    margin-top: -30px;
    margin-left: -20px;
  }
  @media screen and (min-width: 1280px) {
    width: 900px;
    margin-top: -20px;
    margin-right: 40px;
  }
 
  }

  .card_item {
    margin-top: 20px;
  filter: drop-shadow(4px 6px 15px rgba(0, 0, 0, 0.1));
  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-left: 20px;
    flex-basis: calc((100% - 40px) / 2);
  }
  @media screen and (min-width: 1280px) {
    margin-top: 20px;
    flex-basis: calc((100% - 60px) / 3);
  }
}