@import 'src/shared/styles/variables.scss';
@import 'src/shared/styles/mixin.scss';

.cards_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 32px;
  padding-top: 40px;
  width: 1248px;

  @include media(mobile-only) {
    width: 280px;
  }
  
  @include media(tablet-only) {
    width: 704px;
  }
}
.card_item {
  filter: drop-shadow(4px 6px 15px rgba(0, 0, 0, 0.1));
  flex-basis: 280px;

  @include media(tablet) {
    flex-basis: 336px;
  }

  @include media(desktop) {
    flex-basis: 288px;
  }
}
