@import 'src/shared/styles/variables.scss';
@import 'src/shared/styles/mixin.scss';

.wrapper {

  @include media(mobile){
    display: flex;
    flex-direction: column;
  }
  @include media(desktop){
    display: flex;
    flex-direction: row;
  justify-content: flex-start;
  }

}

.title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
