@import 'src/shared/styles/variables.scss';
@import 'src/shared/styles/mixin.scss';

.wrapper {
  @include media(mobile-only) {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  @include media(desktop) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 47px;
  background-color: $main-content-bg-color;
  padding-bottom: 40px;

  @include media(mobile-only) {
    background-color: $primary-bg-color;
    padding-top: 0;
  }
  
  @include media(tablet-only){
    padding-top: 40px;
  }

  @include media(desktop) {
    width: calc(100% - 229px);
  }
}
