$primary-text-color: #000000;
$secondary-text-color: #858598;
$tertiary-text-color: #a6abb9;

$primary-bg-color: #ffffff;
$secondary-bg-color: #ffbc33;

$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;

