@import 'src/shared/styles/variables.scss';
@import 'src/shared/styles/mixin.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0 13px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include media(mobile-only) {
    max-width: 280px;
  }

  @include media(tablet-only) {
    max-width: 704px;
  }

  @include media(desktop) {
    width: 1248px;
  }
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  transform: scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include media(mobile-only) {
    margin-top: 40px;
  }

  @include media(tablet-only) {
    margin-top: 40px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.footer {
  display: none;

  @include media(tablet) {
    display: block;
    display: flex;
    justify-content: center;
  }

  @include media(desktop) {
    justify-content: flex-end;
  }
}
