.wrapper {
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  box-sizing: border-box;

  width: 400px;
  padding: 20px;

  border: 1px solid grey;
  border-radius: 5px;

  margin-bottom: 20px;
}

.label {
  display: inline-block;
  font-size: 18px;

  font-weight: 500;
  margin-bottom: 10px;
}

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;

  border: 1px solid black;
  border-radius: 5px;

  padding: 8px;
  margin-bottom: 20px;
}

.link {
  display: block;
  margin-bottom: 20px;
  color: blue;

  font-size: 14px;
}

.btn {
  min-width: 100px;

  padding: 5px 10px;

  border: 1px solid black;
  border-radius: 5px;

  color: black;
  background-color: transparent;

  cursor: pointer;
  transition: all ease-in 250ms;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  background-color: black;
}
