@import 'src/shared/styles/variables.scss';

.card_footer {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 14px 20px;
  background-color: $secondary-bg-color;
  border-radius: 0px 0px 6px 6px;
}