.point_amount {
    margin-top: 7px;
    padding: 3px 10px;
    background-color: rgb(86, 121, 215);
    border-radius: 3px;
    font-family: Montserrat, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
