@import 'src/shared/styles/mixin.scss';
@import 'src/shared/styles/variables.scss';

.cards_wrapper {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 0;

  @include media(desktop) {
    width: 1248px;
    padding-bottom: 27px;
  }

  @include media(mobile-only) {
    margin-bottom: 75px;
  }
}
