@import 'src/shared/styles/mixin.scss';
@import 'src/shared/styles/variables.scss';

.cards_wrapper {
  display: flex;
  margin-right: -60px;

  @include media(mobile-only) {
    max-width: 280px;
  }

  @include media(tablet) {
    max-width: 704px;
  }

  @include media(desktop) {
    max-width: 1280px;
  }
}
