@import 'src/shared/styles/mixin.scss';
@import 'src/shared/styles/variables.scss';

.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 608px;
  padding: 75px 0 55px 0;
  justify-content: flex-end;
  align-items: center;

  @include media(mobile-only) {
    max-width: 280px;
    width: 100%;
    max-height: 100%;
    justify-content: flex-start;
  }
}

.modalcat {
  width: 200px;
  position: absolute;
  left: 204px;
  top: -115px;


  @include media(mobile-only) {
    max-width: 280px;
    width: 132px;
    left: 73px;
    top: -100px;
  }
}

.modalTitle {
  margin-top: 55px;

  @include media(mobile-only) {
    max-width: 280px;

    margin-top: 0px;
    padding: 0 45px;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
  }
}
.awardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
  padding: 0px;

  @include media(mobile-only) {
    max-width: 280px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
  }
}

.awardItem {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.awardImage {
  border: 5px solid #ffbc33;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.awardName {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #000000;
  text-align: center;
  width: 100px;
  margin-top: 16px;
}
