.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.08em;
  color: #858598;
}
.box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  padding: 40px 0;
}
