@import 'src/shared/styles/variables.scss';

.emailtext {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25px;
  letter-spacing: 0.04em;
  color: $secondary-text-color;
}


.char {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 29px;
  width: 29px;
  
  font-weight: 700;
  font-size: 22px;

  border-radius: 50%;
  background-color: #3e7adc;
  color: #ffffff;
}
