.block {
  position: relative;
  width: 50%;

  .thumb__img1 {
    position: absolute;
    top: 0;
    left: 0;

    width: 372px;
    height: 306px;

    .img1 {
      display: block;
      object-fit: contain;
    }
  }

  .thumb__img2 {
    position: absolute;
    top: 148px;
    left: 237px;

    width: 372px;
    height: 306px;

    &.img2 {
      display: block;
      object-fit: contain;
    }
  }

  .thumb__img3 {
    position: absolute;
    top: 326px;
    left: 0;

    &.img3 {
      display: block;
      object-fit: contain;
    }
  }

  .thumb__img4 {
    position: absolute;
    top: 442px;
    left: 230px;

    &.img4 {
      display: block;
      object-fit: contain;
    }
  }
}
