.block {
  position: relative;
  width: 50%;

}

.img1 {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.img2 {
  position: absolute;
  display: block;
  top: 148px;
  left: 237px;
}

.img3 {
  position: absolute;
  display: block;
  top: 326px;
  left: 0;
}

.img4 {
  position: absolute;
  display: block;
  top: 382px;
  left: 221px;
}
