@import 'src/shared/styles/variables.scss';

.btn {
  display: inline-block;
  padding: 15px 60px;

  border: none;
  border-radius: 6px;
  
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  transition: all ease-in 150ms;
}

.grey {
  background-color: $tertiary-bg-color;
  padding: 13px 40px;

  &:hover{
    box-shadow: $active-shadow;
  }
}

.yellow {
  background-color: $secondary-bg-color;

  &:hover{
      box-shadow: $active-shadow;
  }
}
