@import 'src/shared/styles/variables.scss';
@import 'src/shared/styles/mixin.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 20px;

  @include media(mobile-only) {
    padding: 40px 0 20px;
  }
}

.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.23;
  margin-bottom: 8px;
  text-align: center;

  @include media(mobile-only) {
    font-size: 26px;
    margin-bottom: 10px;
  }
}

.slogan {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  margin-bottom: 40px;
  text-align: center;

  @include media(mobile-only) {
    font-size: 14px;
  }
}
